@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: $header;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 900;
}

h2 {
  font-family: $header;
  font-size: 2rem;
  color: $white;
}

h3 {
  font-family: $subheader;
  font-size: 1.2rem;
  color: $white;
}

h4 {
  font-family: $subheader;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: $white;
}

p {
  font-family: $paragraph;
  font-size: 14px;
  color: $white;
}

body {
  background-color: $black;
}

main {
  min-height: 100vh;
}

