// font-family: 'Crimson Text', serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Nunito Sans', sans-serif;
// font-family: 'Source Code Pro', monospace;
// font-family: 'Source Serif Pro', serif;

$paragraph: 'Source Serif Pro', serif;
$header: 'Montserrat', sans-serif;
$subheader: 'Nunito Sans', sans-serif;

$black: #000;
$white: #fff;