@import "../../variables.scss";

.MuiButtonBase-root {
  color: $white!important;
  border: 1px solid grey!important;
}

.MuiPaginationItem-root {
  color: $white!important;
}

.MuiPagination-ul {
  justify-content: center;
}

.Mui-selected {
  border: 2px solid $green!important;
}

.pagination {
  width: 100%;
  margin: 15px auto 50px auto;
  justify-content: center;
}

.searchbody {

}

.searchresults {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;

  &__item {
    width: calc((100% / 4) - 40px);
    min-height: 50px;
    margin: 20px;
    text-align: left;

    h3 {
      text-transform: capitalize;
    }

    &--right {
      text-align: right;
    }

    &__img {
      height: 150px;

      img {
        width: 100%;
        height: 150px;
        object-fit: cover;
      }
    }

    &__info {
      padding: 10px;

      &__undefined {
        color: grey;
        font-style: italic;
      }

      article {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $grey;
        margin: 5px 0;
        
        h4 {
          width: 50%;
        }

        p {
          width: 50%;
          text-align: right;
          text-transform: capitalize;
        }
      }
    }
  }
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.search {
  &__info {
    margin: 25px;
  }
}