@import "../../variables.scss";

.MuiButtonBase-root {
  color: $white!important;
  border: 1px solid grey!important;
}

.MuiPaginationItem-root {
  color: $white!important;
}

.MuiPagination-ul {
  justify-content: center;
}

.searchheader {
  width: 100%;
  height: 150px;
  margin-top: 60px;
  background: rgb(32,178,170);
  background: linear-gradient(69deg, rgba(32,178,170,1) 6%, rgba(45,253,173,1) 23%, rgba(32,178,170,1) 42%, rgba(32,178,170,1) 67%, rgba(45,253,173,1) 100%, rgba(158,253,45,1) 100%);  
}

.pagination {
  margin: 15px auto 50px auto;
  justify-content: center;
}

.searchbody {

}

.searchresults {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;

  &__item {
    width: calc((100% / 4) - 40px);
    min-height: 50px;
    margin: 20px;
    text-align: left;

    &--right {
      text-align: right;
    }

    &__img {
      img {
        width: 100%;
        height: 150px;
        object-fit: cover;
      }
    }

    &__info {
      padding: 10px;

      &__undefined {
        color: grey;
        font-style: italic;
      }

      article {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $grey;
        margin: 5px 0;
        
        h4 {
          width: 50%;
        }

        p {
          width: 50%;
          text-align: right;
          text-transform: capitalize;
        }
      }
    }
  }
}